  # Environment variables
   .env

   # Python bytecode
   __pycache__/
   *.py[cod]

   # Virtual environment
   venv/
   env/

   # IDE specific files
   .vscode/
   .idea/

   # Operating system files
   .DS_Store
   Thumbs.db
   user_anant.db
   user_shanu.db
   user_user.db
   youtube_transcripts.db
